<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

</body>
</html>



<% if @game.game_in_progress %>
  <h1> <%= @game.turn.name %>'s turn </h1>
<% else %>
  <h1> <%= @game.display_loser %> loses! </h1>
<% end %>


<% if @game.player_1.poisoned? %>
  <h1><%= @game.player_1.name %> took poison damage!</h1>
<% end %>
<% if @game.player_2.poisoned? %>
  <h1><%= @game.player_2.name %> took poison damage!</h1>
<% end %>



<h1>
  <%= @game.player_1.name %> VS. <%= @game.player_2.name %>
</h1>

<div>
  <div class="left">
    <%= @game.player_1.name%>: <%= @game.player_1.HP%>HP
  </div>
  <div class="right">
    <%= @game.player_2.name%>: <%= @game.player_2.HP%>HP
  </div>
</div>

<% if @game.game_in_progress %>
  <% unless @game.turn.name == "Compy" %>
    <form action='/attack'>
      <input type='submit' name='Attack' value='Attack'>
    </form>
    <form action='/poison'>
      <input type='submit' name='Poison' value='Poison'>
    </form>
  <% end %>
  <% if @game.turn.name == "Compy" %>
    <form action='/attack'>
      <input type='submit' value="Compy's Turn">
    </form>
  <% end %>
<% end %>
