<h1>
  <%= @player_1.name %> VS. <%= @player_2.name %>
</h1>

<h2>
  <%= @player_1.name%>: <%= @player_1.HP%>HP
  <%= @player_2.name%>: <%= @player_2.HP%>HP
</h2>

<form action='/attack'>

  <input type='submit' name='Attack' value='Attack'>

</form>