<h1> <%= @game.turn %>'s turn </h1>

<h1>
  <%= @game.player_1.name %> VS. <%= @game.player_2.name %>
</h1>

<h2>
  <%= @game.player_1.name%>: <%= @game.player_1.HP%>HP
  <%= @game.player_2.name%>: <%= @game.player_2.HP%>HP
</h2>

<form action='/attack'>

  <input type='submit' name='Attack' value='Attack'>

</form>